{{#each this}}
  <li class='film__item'>
    <article class='film__box' id={{id}}>
      <div class='film__box-img'>
        {{#if poster_path}}
          <img
            class='film__img'
            src='https://image.tmdb.org/t/p/w500{{poster_path}}'
            alt='{{title}}'
            loading='lazy'
          />
        {{else}}
          <img
            class='film__img'
            src='https://i.ibb.co/8mnHvb2/no-poster.jpg'
            alt='no_poster'
            loading='lazy'
          />
        {{/if}}
      </div>
      <div class='film__box-info'>
        <h2 class='box-info__title'>{{title}}</h2>
        <div class='film__thumb'>

          <p class='box-info__genres js-'>
            {{#each genres}}
              {{#if @last}}
                {{this}}
              {{else}}
                {{this}},
              {{/if}}{{/each}}
            |
            {{release_date}}
            <span class='box-info__rating'>{{vote_average}}</span>
          </p>

        </div>
      </div>
    </article>
  </li>
{{/each}}