<div class='modal' id={{id}}>
  <button class='modal__close-btn' type='button'></button>

  <button class='modal__close-btn js-modal__close-btn'>
    <span class='close'></span>
  </button>
  <!-- picture poster film -->
  <div class='modal__container-img'>
    {{#if poster_path}}
      <img
        class='modal__img'
        src='https://image.tmdb.org/t/p/w780{{poster_path}}'
        alt='{{title}}'
      />
    {{else}}
      <img class='film__img' src='https://i.ibb.co/8mnHvb2/no-poster.jpg' alt='no_poster' />
    {{/if}}

  </div>

  <!-- text part of the modal -->
  <div class='modal__text-container'>

    <h2 class='modal__text-title'>{{title}}</h2>

    <table class='modal__table'>
      <tr class='modal__table-text'>
        <td class='modal__table-property'>Vote / Votes</td>
        <td class='modal__table-quantity'>
          <span class='text orange-text'>{{vote_average}}</span>
          /
          <span class='text vote-text'>{{vote_count}}</span>
        </td>
      </tr>

      <tr class='modal__table-text'>
        <td class='modal__table-property'>Popularity</td>
        <td class='modal__table-quantity'>
          <span class='text'>{{popularity}}</span>
        </td>
      </tr>

      <tr class='modal__table-text'>
        <td class='modal__table-property'>Original title</td>
        <td class='modal__table-quantity'>
          <span class='text'>{{original_title}}</span>
        </td>
      </tr>

      <tr class='modal__table-text'>
        <td class='modal__table-property'>Genre</td>
        <td class='modal__table-quantity'>
          <span class='text'>{{#each fullGenres}}{{#if @last}}
                {{this}}
              {{else}}
                {{this}},
              {{/if}}{{/each}}</span>
        </td>
      </tr>
    </table>

    <div class='description'>
      <p class='description__title'>About</p>
      {{#if overview}}
        <p class='description-text'>{{overview}}</p>
      {{else}}
        <p class='description-text'>No description</p>
      {{/if}}
    </div>

    <!-- modal buttons -->
    <div class='modal__btn-wrapper'>
      <button
        class='modal__btn js-btn__watched'
        type='button'
        data-id='{{id}}'
        data-action='add-to-watched'
      >
        add to watched</button>
      <button
        class='modal__btn js-btn__queue'
        type='button'
        data-id='{{id}}'
        data-action='add-to-queue'
      >
        add to queue
      </button>

    </div>
  </div>

</div>